
#timesheet-login-container {
	-fx-alignment: top-center;
	-fx-translate-y: 100;
	-fx-hgap: 10;
	-fx-vgap: 10;
}

.timesheet-login-label {
	-fx-text-fill: #21c0ff;
}

#timesheet-login-btn {
	-fx-translate-x: 152;
	-fx-translate-y: 20;
}